.roadster {
  background-image: url("../assets/Roadster/hero.jpg");
}
.heading > h1{
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 1px;
}
.highlighted-specs > div > h1{
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
}
.highlighted-specs > div > h1 > span{
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
} 
.highlighted-specs > div > p{
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
.content{
  height: 90vh;
}